# Create the Channel Means Feature set

In [1]:
# import toolboxes
import pandas as pd 
import numpy as np
import os
from collections import Counter

In [2]:
directory = '/Users/amandabreton/Documents/Duke 2022-2023/ECE 590/Final Project/confused_dataset/'
filename = 'EEG_data.csv'

df = pd.read_csv(directory+filename)

In [3]:
df.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0

In [4]:
df.shape

(12811, 15)

In [5]:
print('Below are subject IDs and their counts')
Counter(df['SubjectID'])

Below are subject IDs and their counts

Counter({0.0: 1261,
         1.0: 1301,
         2.0: 1284,
         3.0: 1314,
         4.0: 1295,
         5.0: 1262,
         6.0: 1275,
         7.0: 1276,
         8.0: 1282,
         9.0: 1261})

In [6]:
print('Below are subject IDs and their counts')
Counter(df['VideoID'])

Below are subject IDs and their counts

Counter({0.0: 1412,
         1.0: 1414,
         2.0: 1274,
         3.0: 1206,
         4.0: 1356,
         5.0: 1230,
         6.0: 1181,
         7.0: 1177,
         8.0: 1280,
         9.0: 1281})

In [7]:
# sample rate of 2 Hz (1 sample every 0.5 seconds)
# so it's basically time series data 
# data's kaggle site says theta seems to be where confusion is held 
# this is so stupid they just used the means of each channel as their features 
# need to seperate the combos of videos and participants

In [11]:
# create an empty numpy array 
eeg_arr = np.zeros((100,14))
eeg_arr.shape

(100, 14)

In [13]:
eeg_arr

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [14]:
counter = 0
for i in range(10):
    for j in range(10):
        curr = df.loc[(df['SubjectID'] == i) & (df['VideoID'] == j)].copy() #SubjectID, VideoID 
        curr_attention = np.mean([curr['Attention']])
        curr_mediation = np.mean([curr['Mediation']])
        curr_raw = np.mean([curr['Raw']])
        curr_delta = np.mean([curr['Delta']])
        curr_theta = np.mean([curr['Theta']])
        curr_alpha1 = np.mean([curr['Alpha1']])
        curr_alpha2 = np.mean([curr['Alpha2']])
        curr_beta1 = np.mean([curr['Beta1']])
        curr_beta2 = np.mean([curr['Beta2']])
        curr_gamma1 = np.mean([curr['Gamma1']])
        curr_gamma2 = np.mean([curr['Gamma2']])
        label = np.mean(curr['user-definedlabeln'])
        
        
        eeg_arr[counter,:] = [i,j,label,curr_attention,curr_mediation,curr_raw,curr_delta, curr_theta,
                              curr_alpha1,curr_alpha2, curr_beta1, curr_beta2, curr_gamma1, curr_gamma2]
        # Attention Mediation Raw Delta Theta Alpha1 Alpha2 Beta1 Beta2 Gamma1 Gamma2
        counter +=1

In [15]:
eeg_arr

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        4.02687639e+04, 4.07292847e+04, 1.68170625e+04],
       [0.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        3.74107286e+04, 3.67587000e+04, 1.45194071e+04],
       [0.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        3.64464366e+04, 3.39088732e+04, 1.45458451e+04],
       ...,
       [9.00000000e+00, 7.00000000e+00, 0.00000000e+00, ...,
        1.99090268e+04, 1.82492679e+04, 2.69793750e+03],
       [9.00000000e+00, 8.00000000e+00, 1.00000000e+00, ...,
        3.67734435e+04, 4.54245887e+04, 1.75549274e+04],
       [9.00000000e+00, 9.00000000e+00, 0.00000000e+00, ...,
        5.64819754e+04, 2.22608934e+04, 2.99592623e+03]])

In [16]:
df = pd.DataFrame(eeg_arr, columns = ['SubjectID', 'VideoID', 'user-definedlabel', 'Attention', 
                                      'Mediation', 'Raw', 'Delta', 'Theta', 'Alpha1', 'Alpha2', 
                                      'Beta1', 'Beta2', 'Gamma1', 'Gamma2'])

In [17]:
df.head()

,SubjectID,VideoID,user-definedlabel,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2
0,0.0,0.0,0.0,55.256944,53.826389,46.986111,544315.097222,124965.590278,36693.701389,25875.298611,20108.791667,40268.763889,40729.284722,16817.062500
1,0.0,1.0,1.0,43.621429,48.621429,28.800000,739737.292857,161064.228571,34918.028571,25078.935714,22157.307143,37410.728571,36758.700000,14519.407143
2,0.0,2.0,1.0,43.978873,47.316901,13.154930,694078.084507,149816.873239,30493.873239,21667.591549,21888.338028,36446.436620,33908.873239,14545.845070
3,0.0,3.0,0.0,51.057377,51.844262,34.713115,600823.688525,162653.360656,33367.278689,26281.500000,17224.278689,43706.524590,41438.213115,16558.631148
4,0.0,4.0,0.0,55.224138,47.474138,30.008621,546628.017241,126893.948276,23113.844828,17017.051724,15955.879310,36427.836207,36024.818966,14752.655172